In [34]:
from bs4 import BeautifulSoup
# import requests
import pymongo

In [35]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import time

In [36]:
import pandas as pd

In [37]:
!which chromedriver

/usr/local/bin/chromedriver

In [50]:
# URL of page to be scraped


executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
time.sleep(3)
html = browser.html

news_soup = BeautifulSoup(html, 'html.parser')

In [51]:
#news title
news = news_soup.select(".grid_layout .list_text")[0]

# article title
news_title = news.a.text
print(news_title)
news_content = news.find("div", class_="article_teaser_body").text
print(news_content)

'Storm Chasers' on Mars Searching for Dusty Secrets
Scientists with NASA's Mars orbiters have been waiting years for an event like the current Mars global dust storm.

In [31]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [32]:
url = 'https://www.jpl.nasa.gov/spaceimages'
browser.visit(url)

In [33]:
button = browser.find_by_xpath('//*[@id="full_image"]').click()
time.sleep(5)

In [34]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
img_path = soup.find('img', class_='fancybox-image')
# img = url + img_path.get('src')

In [35]:
print(img_path)

<img class="fancybox-image" src="/spaceimages/images/mediumsize/PIA19334_ip.jpg" style="display: inline;"/>

In [36]:
featured_image_url = 'https://www.jpl.nasa.gov' + img_path.get('src')
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19334_ip.jpg'

In [37]:
# URL of page to be scraped
twitter_url = 'https://twitter.com/marswxreport?lang=en'

# Retrieve page with the requests module
twitter_response = requests.get(twitter_url)
# Create BeautifulSoup object; parse with 'lxml'
twitter_soup = BeautifulSoup(twitter_response.text, 'lxml')

In [38]:
mars_weather_tweet = twitter_soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
mars_weather_string = mars_weather_tweet.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')
mars_weather = mars_weather_string.text
mars_weather

'Sol 2108 (2018-07-12), Sunny, high -24C/-11F, low -65C/-84F, pressure at 8.06 hPa, daylight 05:19-17:27'

In [39]:
url = "https://space-facts.com/mars/"

In [40]:
tables = pd.read_html(url)
tables[0]
# tables

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [41]:
type(tables)

list

In [42]:
df = tables[0]
df.columns = ["Fact", "Value"]
df

                   Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [43]:
df.set_index("Fact", inplace = True)

In [44]:
html_table = df.to_html()
df.to_html('mars_facts.html')

# post = {
#     'mars_weather' : mars_weather
# }
# collection.insert_one(post)

# !open table.html

In [45]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
html = browser.html
hemis_soup = BeautifulSoup(html, 'html.parser')

i=0;
hemisphere_image_urls = []

for item in hemis_soup.find_all('div', class_='description'):
    i+=1;
    try:
        img_xpath = '//*[@id="product-section"]/div[2]/div['+str(i)+']/div/a'
        img_results = browser.find_by_xpath(img_xpath)

        button = browser.find_by_xpath(img_xpath).click()
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
        img_title = soup.find('h2', class_='title').text
        img_path = soup.find('img', class_='wide-image')

        hem_img_url = 'https://astrogeology.usgs.gov' + img_path.get('src')
        browser.back()

        if (img_title):
            print(img_title)
            print(hem_img_url)
            print(i)
            hemisphere_image_urls.append((img_title, hem_img_url))
    except ElementDoesNotExist:
        print(e)

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
1
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
2
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
3
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg
4

In [46]:
        executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
        browser = Browser('chrome', **executable_path, headless=True)

        url = 'https://www.jpl.nasa.gov/spaceimages'
        browser.visit(url)

        browser.find_by_xpath('//*[@id="full_image"]').click()
        time.sleep(5)

        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
        img_path = soup.find('img', class_='fancybox-image')


        featured_image_url = 'https://www.jpl.nasa.gov' + img_path.get('src')
        featured_image_url

        feature_img = {
                "featured_image_url" : featured_image_url
        }

In [47]:
feature_img

{'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16842_ip.jpg'}

In [50]:
# def scrape_fun_fact():

url = "https://space-facts.com/mars/"

tables = pd.read_html(url)
tables[0]

type(tables)

df = tables[0]
df.columns = ["Fact", "Value"]
df

df.set_index("Fact", inplace = True)

html_table = df.to_html()
df.to_html('mars_facts.html')
html_table

#         return html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Fact</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'